.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.profile__avatar {
  background: transparent url(../images/profile-edit.png) center no-repeat;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 0 30px 0 0;
  cursor: pointer;
}
.profile__avatar:hover {
  background: url(../images/profile-edit.png) center no-repeat;
  opacity: 40%;
}
.profile__avatar-icon {
  position: relative;
  right: 100px;
  visibility: hidden;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  max-width: 415px;
  grid-gap: 7px 18px;
}
.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}
.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}
.profile__edit-button {
  background: url(../images/Edit-Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  margin: auto;
  margin: 15px 0 9px;
  border: 1px solid white;
  transition: 0.3s;
  cursor: pointer;
}
.profile__add-button {
  background: url(../images/Add-Button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 0;
  border: 2px solid white;
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
.profile__add-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 880px) {
  .profile__info {
    grid-template-columns: minmax(auto, 180px) auto;
  }
}
@media screen and (max-width: 580px) {
  .profile {
    flex-direction: column;
  }
  .profile__avatar {
    margin: 0;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 26px;
    max-width: 200px;
  }
  .profile__description {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    text-align: center;
    max-width: 200px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  .profile__add-button {
    background: url(../images/Add-buuton-big.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 282px;
    margin: 0;
    margin-top: 36px;
  }
}
